.car-info {
    box-shadow: none;
    padding: 0 20px 10px;

    td:first-child {
        font-weight: bold;
    }

    &__header {
        justify-content: space-between;
    }

    &__category {
        color: var(--text-primary-color);
        background-color: var(--accent-color);
    }

    &__title.mat-card-title {
        margin-bottom: 0;
    }
}

::ng-deep {
    &.mat-menu-panel.car-menu {
        max-width: 30vh;
    }
}
