.car-info {
    box-shadow: none;
    padding: 0 20px 10px;

    td:first-child {
        font-weight: bold;
    }

    &__header {
        justify-content: space-between;
        align-items: center;
    }

    &__category {
        color: var(--text-primary-color);
        background-color: var(--accent-color);
    }

    &__favorite {
        margin-bottom: 16px;
    }

    &__table {
        font-size: 10;
        line-height: 12px;
    }
}

.cdk-overlay-connected-position-bounding-box {
    left: 0 !important;
}

@media only screen and (max-width: 600px) {
    .menu-screen {
      position: fixed;
      max-width: unset !important;
      width: 100vw;
    } 
}