<mat-sidenav-container class="example-container">
    <mat-sidenav #messagesSidePanel mode="side" position="end">Start content</mat-sidenav>
    Implicit main content    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content

</mat-sidenav-container>