<mat-sidenav-container>
    <mat-sidenav #messagesSidePanel 
        mode="side" 
        position="end"
        class="messages-side-panel"
    >
        <app-messages-panel></app-messages-panel>
    </mat-sidenav>
    Implicit main content    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content
    Implicit main content

</mat-sidenav-container>