<mat-card class="message-item">
    <mat-card-header class="message-item__header">
        <div mat-card-avatar *ngIf="message.type == 'success'" class="message-item__type message-item__type--success">
            <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div mat-card-avatar *ngIf="message.type == 'info'" class="message-item__type message-item__type--info">
            <mat-icon>error_outline</mat-icon>
        </div>
        <div mat-card-avatar *ngIf="message.type == 'error'" class="message-item__type message-item__type--error">
            <mat-icon>warning_outline</mat-icon>
        </div>

        <mat-card-title class="message-item__title" [ngClass]="{'message-item--unreaded': !message.isReaded}">
            <div class="message-item__title-text">
                {{message.title}}
            </div>
        </mat-card-title>
        <mat-card-subtitle class="message-item__subtitle" [ngClass]="{'message-item--unreaded': !message.isReaded}">
            {{message.from}}
        </mat-card-subtitle>
        <div class="message-item__date" [ngClass]="{'message-item--unreaded': !message.isReaded}">
            {{message.date}}
        </div>
    </mat-card-header>
    <mat-card-content class="message-item__content" [ngClass]="{'message-item--unreaded': !message.isReaded}" (click)="accordionItem.toggle();readMessage()">
        <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="message-accordion-item"
            role="button"
            tabindex="0">
            <div class="message-accordion-item-header">
                <span class="message-item__text" [style.display]="accordionItem.expanded ? 'none' : ''">
                    {{message.message}}
                </span>
                <span
                    class="message-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'">
                    {{message.message}}
                </span>
            </div>
        </cdk-accordion-item>
    </mat-card-content>
    <div class="message-item__details">
        <button mat-icon-button [matMenuTriggerFor]="messageMenu">
            <mat-icon inline>more_vert</mat-icon>Details anzeigen
        </button>
        
        <mat-menu #messageMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>directions_car</mat-icon>
                <span>Zum Kundenfahrezeug wechseln</span>
            </button>
            <button mat-menu-item>
                <mat-icon>person_outline</mat-icon>
                <span>Zum Kunden wechseln</span>
            </button>
            <button mat-menu-item>
                <mat-icon>mail_outline</mat-icon>
                <span>Terminhinweis an Kunden senden</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon>check</mat-icon>                
                <span>Als bearbeitet markieren</span>
            </button>
        </mat-menu>
    </div>
</mat-card>