body {
    background-color: var(--text-primary-darker-color);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--text-primary-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-lighter-color);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);; 
}

::ng-deep {
    &.mat-card .mat-menu-content {
        box-shadow: none;
    }

    &.mat-card-header {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    &.mat-card-title {
        margin-bottom: 0;
        font-weight: 600;
    }
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
}